.subtitulo{
    font-family: 'accidental_presidencyregular',Helvetica;
    font-weight: normal;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 42pt;
    letter-spacing: 10px;
    float: none;
    margin: 0 auto;
}

.color-title{
    color:white;
}

.color-poll{
    color:#ffa8c8;
}

.btn-primary{
    background:#ffa8c8;
    border-color: #ffa8c8;
}

.btn-primary:hover{
    background:#a65b77;
    border-color: #a65b77;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;background:#a7154a !important;
 }

#comment{
    background-color: #1A2E33;
    border-color: cyan;
    color: white;
}