<!--The content below is only a placeholder and can be replaced.-->
<!--- index.html -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">


<!--<app-parallax></app-parallax>-->
<app-parallax-header></app-parallax-header>
<app-spacer></app-spacer>
<div class="background">
    <app-poll id="poll"></app-poll>
    <app-story></app-story>
    <app-razones></app-razones>
    <app-estacion></app-estacion>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
