.card{
    border-color:white;
    color:white;
}

.size{
    width: 150px;
}

.subtitulo{
    font-family: 'accidental_presidencyregular',Helvetica;
    font-weight: normal;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 42pt;
    letter-spacing: 10px;
    float: none;
    margin: 0 auto;
}


.pad{
    padding-top: 10px;
    padding-right:10px ;
    padding-left: 10px;
    padding-bottom:10px ;
}