.subtitulo{
    font-family: 'accidental_presidencyregular',Helvetica;
    font-weight: normal;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 42pt;
    letter-spacing: 10px;
    float: none;
    margin: 0 auto;
}

#tren{
    width: 200px;
   fill: #eeeeee; /* Old browsers */
  }

  .link-text{
    color:#f35e95;
    -webkit-transition: ease 0.5s; /* Safari */
  transition: ease 0.5s;
}

.link-text:hover{
    color:#c49cf0;
}

.white{
    color:white;
}